.conatinerTableDeleteCollaborator {
  text-align: center;
  margin: 12px;
}

.conatinerTableDeleteCollaborator h1 {
  margin-bottom: 4px;
}

.conatinerTableDeleteCollaborator table {
  font-size: 13px;
  border: 1px solid black;
  margin: 0 auto;
}

.conatinerTableDeleteCollaborator th {
  border: 1px solid black;
  padding: 4px;
}

.conatinerTableDeleteCollaborator td {
  border: 1px solid black;
  padding: 4px;
}

.conatinerFormDeleteCollaborator form {
  text-align: center;
  width: 500px;
  margin: 0 auto;
}

.conatinerFormDeleteCollaborator div {
  margin: 12px;
}

.input_id {
  width: 50px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  font-size: 13px;
}

.btn_delete {
  border-radius: 10px;
  margin: 8px;
  padding: 10px;
  background-color: var(--gray);
  border: none;
  color: var(--white);
}

.btn_delete:hover {
  background-color: var(--red);
}
