.conatinerTableDeleteCollaborator {
  text-align: center;
}

.conatinerTableDeleteCollaborator h1 {
  margin: 24px;
}

.conatinerTableDeleteCollaborator table {
  font-size: 13px;
  border: 1px solid black;
  margin: 0 auto;
}

.conatinerTableDeleteCollaborator th {
  border: 1px solid black;
  padding: 4px;
}

.conatinerTableDeleteCollaborator td {
  border: 1px solid black;
  padding: 4px;
}

.conatinerTableDeleteCollaborator p {
  color: red;
  margin: 4px;
}

.conatinerFormDeleteCollaborator form {
  text-align: center;
  width: 500px;
  margin: 0 auto;
}

.conatinerFormDeleteCollaborator div {
  margin: 12px;
}

.conatinerFormDeleteCollaborator .input_id {
  width: 50px;
}

a {
  text-decoration: none;
  font-size: 13px;
}
