.container_login {
  align-items: center;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.207);
  border: 1px solid rgba(0, 0, 0, 0.229);
  border-radius: 10px;
  background-color: #dcdcdc;
  display: flex;
  flex-direction: column;
  left: 50%;
  padding: 8px;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  top: 50%;
  width: 280px;
}

.container_login h3 {
  padding-bottom: 8px;
}

.container_login form {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.container_login form input {
  border-radius: 10px;
  margin: 8px 0;
  padding: 10px;
}

.container_login form label {
  align-self: flex-start;
}

.container_login span {
  font-size: 10px;
}

.container_login span button {
  background-color: #dcdcdc;
  border: none;
  color: blue;
  font-size: 10px;
  text-decoration: underline;
}

.register_button,
.login_button {
  background-color: #222;
  border: none;
  color: #fff;
}

.register_button:hover,
.login_button:hover {
  background-color: red;
}

.login_error {
  font-size: smaller;
  color: red;
  padding-bottom: 8px;
}

.register {
  display: none;
}

#lgError {
  color: red;
}
