.newCollaborator {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 12px;
}

.newCollaborator h3 {
  margin-bottom: 4px;
}

.newCollaborator form div {
  margin: 12px;
}

.newCollaborator a {
  text-decoration: none;
  font-size: 13px;
}

.newCollaborator p {
  color: red;
  margin: 4px;
}
