* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --red: #d22833;
  --gray: #222;
  --white: #fff;
  --black: #000;
  --lightGray: rgb(152, 151, 151);
  --shaded: rgba(0, 0, 0, 0.207);
}
