.container_footer {
  margin-top: 12px;
  color: var(--white);
  border-top: 2px solid var(--red);
  background-color: var(--black);
  padding: 8px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.container_footer span {
  font-weight: bolder;
}
