.container_search {
  text-align: center;
}

.container_search h2 {
  color: var(--lightGray);
  margin: 8px;
}

.container_search form {
  box-shadow: 2px 2px 2px 2px var(--shaded);
  align-items: center;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 12px;
  width: 70%;
}

.container_search div {
  display: flex;
  flex-direction: column;
  margin: 8px;
}

.container_search button {
  background-color: var(--gray);
  border: none;
  color: var(--white);
  border-radius: 8px;
  padding: 8px;
}

.container_search button:hover {
  background-color: var(--red);
  cursor: pointer;
}
